<footer class=" text-white text-center text-lg-start">

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #7d85a0">
        © 2022 Copyright : Designed by Stéphane SELVATHASAN
        <a class="text-white">Projet NodeJS</a>
    </div>
    <!-- Copyright -->
</footer>